@model WebShop.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    string url = HttpContext.Current.Request.Url.ToString();
}



<div class="row">
    <div class="col-md-4">

        @Html.Partial("_Filters", Model.Filter)

        
    </div>
    <div class="col-md-8">
       
        @Html.Partial("_Products", Model)
    </div>

</div>