@model List<WebShop.ViewModels.FNameViewModel>
@{
    ViewBag.Title = "Home Page";
    string url = HttpContext.Current.Request.Url.ToString();
}


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            foreach (var name in Model)
            {
                <ul>
                    @name.Name
                    @foreach (var value in name.Children)
                    {
                        <li>
                            <input type="checkbox" value="@value.Id" id="fvalues" name="fvalues" />
                            @value.Name
                        </li>
                    }
                </ul>
            }
            <input type="submit" class="form-control" value="Примінити фільтер" />
        }
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>