@model WebShop.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
    string url = HttpContext.Current.Request.Url.ToString();
}


<div class="row">
    <div class="col-md-4">
        @Html.Partial("_Filters", Model.Filter)
    </div>
    <div class="col-md-8">
        <div class="row">

            @foreach (var p in Model.Products)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-responsive"
                             src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#" class="text-dark">@p.Name</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            <div class="badge badge-danger float-right">30%</div>
                            <div class="float-left">
                                <a href="#" class="text-danger">@p.Price</a>
                                <br>
                                <small class="text-muted"><del>2000</del></small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>